body {
	font-family:Arial, sans-serif;
	font-size:18pt; 
	padding:1em 10% 2em 10%;
}
h1 {
	font-size:100%;
	font-weight:normal;

}

code {
  display: block;
}
a {
	color:#0000cc;

}
a:visited {
	color:#9900cc;
}
a:active {
	color:#ff0000;
}
{
a:hover {
	color:#0000ff;
}
a:visited:hover {
	color:#ccooff;
}
